.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    font-size: 20px;
    background-color: #7c7a7a;
    border-radius: 5px;
}
h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}
form {
    display: flex;
    flex-direction: column;
}


label,
input,
textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
label {
    color:black;
    font-size: 25px;
}

.boton {
    background-color: burlywood;
}

/* Estilos específicos para pantallas de celular */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 60px;
        font-size: 28px;
    }
    h1 {
        font-size: 48px;
    }
    label,
    input,
    textarea {
        width: 100%;
        box-sizing: border-box;
        font-size: 28px;
    }
}